# SPDX-License-Identifier: GPL-3.0-only
# Copyright (C) 2025-2026 Taylor (Wakana Kisarazu)
# EditorConfig configuration for TetoRC
# http://EditorConfig.org



root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.zig*]
tab_width = 4
indent_style = space
indent_size = tab
max_line_length = 100
