;;;;;;;; TetoRC mount flag file

"/proc" = "MS_NOSUID or MS_NOEXEC or MS_NODEV"
"/sys" = "MS_NOSUID or MS_NOEXEC or MS_NODEV"
"/dev" = "nil"
"/dev/pts" = "nil"
"/run" = "MS_NOSUID or MS_NODEV or MS_NODIRATIME"
"/tmp" = "MS_NOSUID or MS_NODEV or MS_NOATIME"
"/dev/shm" = "nil"
"/sys/fs/cgroup" = "nil"
"/sys/kernel/security" = "nil"
"/kasane" = "MS_NOSUID or MS_NODEV or MS_NOATIME"
